*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
h1, h2{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
.banner{
   
}
/* section with image        */
.banner__main{
    
}
.banner__main img{
    width: 100%;
}
/* section with list       */
.banner__list{
    width: 100%;

    font-family: "Montserrat";

    margin-top: -3px;
}
.banner__headerOfList{
    width: 100%;

    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: 500;

    background-color: #71459b;
    border-bottom: 10px solid  #f5e1a8;

    padding: 3px;
}

.banner__listMainPart{
    display: flex;

    padding: 10px;
}
.banner__listMainPart ul{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;

    margin: 20px auto -20px auto;
    width: 145%;
}
.banner__listMainPart ul li{
    width: 50%;
    height: 180px;
    padding: 15px;

    color: rgb(43, 43, 43);
}
.banner__listMainPart ul li h2{
    font-weight: 700;
    font-size: 19px;
}
.banner__listMainPart ul li p{
    font-weight: 500;
    font-size: 18px;
}

.banner__side-block{
    width: 350px;
}
.banner__side-block img{
    width: 100%;

    display: block;
}

